@import url("https://fonts.googleapis.com/css2?family=Mulish&display=swap");

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: "Mulish", sans-serif;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  margin: 0;
  transition: background 0.3s ease;
}

.change-btn {
  background-color: #000;
  border: 0;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 18px;
  padding: 20px 50px;
}

.change-btn:active,
.btn:active {
  transform: scale(0.98);
}

.change-btn:focus {
  background-color: #444;
  outline: none;
}

.change-text {
  font-size: 14px;
}

.color-text {
  margin-top: 1rem;
}

.btn {
  margin: 1.3rem;
  cursor: pointer;
}

.btn i {
  font-size: 2rem;
  padding: 5px 10px;
}

.copy-popup {
  font-weight: bold;
  display: none;
  user-select: none;
}
